@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Keyboard</title>
  <link rel="stylesheet" href="/app.css" />
</head>
<body>
  <div class="keyboard">
        <div class="display">Available For Freelance &nbsp; &nbsp; &nbsp; ***</div>
        <div class="key"><a href="/" target="_blank"><img src="/img/icons8-home.svg" /></a></div>
        <div class="key">CV</div>
        <div class="key"><a href="https://instagram.com/" target="_blank"><img src="/img/icons8-instagram.svg" /></a></div>
        <div class="key"><a href="https://instagram.com/" target="_blank"><img src="/img/icons8-at.svg" /></a></div>
        <div class="key">HIRE ME</div>
        <div class="key"><a href="https://x.com/" target="_blank"><img src="/img/icons8-x.svg" /></a></div>
        <div class="key">CALL ME</div>
        <div class="key">DB</div>
        <div class="key">BH</div>
        @* <hr class="hr-gradient" />
        <hr class="hr-gradient" />
        <hr class="hr-gradient" /> *@
    </div>
    <hr class="hr-gradient" />
    <hr class="hr-gradient2" />
    <hr class="hr-gradient3" />
    @* <h1 class="signature">lckaas</h1> *@
</body>
</html>
